#!/bin/sh
java -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname={{ getenv "JMX_HOST" }} -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.port={{ getenv "JMX_PORT" }} -Dcom.sun.management.jmxremote.rmi.port={{ getenv "JMX_PORT" }} -jar /opt/jmx_prometheus_httpserver/jmx_prometheus_httpserver.jar {{ getenv "HTTP_PORT" }} /opt/jmx_prometheus_httpserver/{{ getenv "CONFIG_FILE" }}

